@using Microsoft.AspNetCore.Identity
@using Maintain.NET.Models

@inject SignInManager<ApplicationUser> signInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Baloo|Baloo+Thambi|Changa+One|Contrail+One|Fredoka+One|Inder|K2D|Lilita+One|NTR|Righteous|Russo+One|Secular+One|Tauri" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
       
    <div>
        @RenderBody()
    </div>
<footer> <p><b>Copyright 2019</b></p></footer>
</body>
</html>
