body {
    background-color: cadetblue;
    text-align: center;
}

.text-container{
    margin-left:auto;
    margin-right: auto;
    border:1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
    width: 30%;
    margin-bottom: 3vh;
}

img{ 
    opacity: 0.65;
}

.row{
    margin-left: auto;
    margin-right: auto;
}
.column {
    float: left;
    width: 30%;
}

