body {
    background-color: cadetblue;
    text-align: center;
}

h1, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: teal;
    padding: .5vw;
    border: 2px, solid;
    border: .12vw solid mintcream;
    border-radius: .3vw;
    font-size: .7vw;
}
.text-container{
    margin-left:auto;
    margin-right: auto;
    border:1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
    width: 30%;
    margin-bottom: 3vh;
}

img{ 
    opacity: 0.65;
    height: 70vh;
    width: 30vh;
}

.row{
    width: 95%;
    margin: auto;
    z-index: -1;
}
.column {
    float: left;
    width: 33.33%;
    height: 100%;
}

font-family: 'Baloo Thambi', cursive;
font-family: 'NTR', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Inder', sans-serif;
font-family: 'Tauri', sans-serif;
font-family: 'Contrail One', cursive;
font-family: 'Baloo', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Righteous', cursive;