@model List<Maintain.NET.Models.MaintenanceTask>

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
@inject SignInManager<ApplicationUser> signInManager
<header id="main-header">
    @if (signInManager.IsSignedIn(User))
    {
        <div id="greeting">
            <div>
                <p>
                    <i>Hey, @User.Claims.First(c => c.Type == "FullName").Value </i>
                    <a href="../Account/Logout" id="logout">Log out </a>
                </p>

            </div>
        </div>
    }

    <h3 id="manage-title">Add New Task</h3>
</header>

<div id="add-class-container">

<div id="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Model" class="control-label"></label>*@
                <select name="task" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>

            </div>
            <div id="add-btn">
                <input type="submit" value="Add" id="a-button" />
            </div>
        </form>
    </div>
<div id="back-btn">
    <a asp-action="Index" id="a-button">Back</a>
</div>
</div>
</div>
