@model IEnumerable<Maintain.NET.Models.UserMaintenanceTask>
@using Maintain.NET.Models.Interfaces
@inject ITaskManager TaskManagementService
<h1>Manage Your Task</h1>
@{
    var tasks = await TaskManagementService.GetAllTasks();
    
    Layout = "_Layout";
    
}

<p>
    <a asp-action="CreateUserTask">Add New Task</a>
</p>

@foreach (var usertask in Model)
{
    <p>@usertask.MaintenanceTask.Name</p>
    @*<button asp-action="DeleteUserTask" asp-route="usertask.ID" type="submit">DELETE</button>*@
}

@*<form asp-action="CreateUserTask" method="post">
    <select name="tasks">
        @foreach (var i in tasks)
        {
            <option>@i.Name</option>
        }
    </select>
    <br><br>
    <input type="submit">
</form>*@