@model IEnumerable<Maintain.NET.Models.UserMaintenanceTask>
@using Maintain.NET.Models.Interfaces
@inject ITaskManager TaskManagementService
<h1>Manage Your Task</h1>
@{
    var tasks = await TaskManagementService.GetAllTasks();

    Layout = "_Layout";

}

<div class="text-container">
    
@foreach (var usertask in Model)

{
    <p>@usertask.MaintenanceTask.Name</p>
    <a asp-action="DeleteUserTask" asp-route-id="@usertask.ID">DELETE</a>
    <a asp-action="Manage" asp-route-id="@usertask.ID">Complete Task</a>

}

</div>

<p>
    <a asp-action="CreateUserTask">Add New Task</a>
</p>


@*<form asp-action="CreateUserTask" method="post">
        <select name="tasks">
            @foreach (var i in tasks)
            {
                <option>@i.Name</option>
            }
        </select>
        <br><br>
        <input type="submit">
    </form>*@