@model Maintain.NET.Models.UserMaintenanceTask
@using Maintain.NET.Data
@{
    Layout = "_Layout";
}

<a asp-action="Complete" asp-route-id="@Model.ID" id="a-button">Complete Task</a>

<h3>Completion History</h3>

@foreach (var item in Model.UserMaintenanceHistory)
{
    <p>Completed on @item.TimeComplete</p>
}

