@model Maintain.NET.Models.UserMaintenanceTask
@using Maintain.NET.Data
@{
    Layout = "_Layout";
}

<a asp-action="Complete" asp-route-id="@Model.ID">Complete Task</a>

@foreach (var item in Model.UserMaintenanceHistory)
{
    <p>Last Complete @item.TimeComplete</p>
}