
<h1>Welcome to Maintain.NET</h1>
@{ 
    Layout = "_Layout";
}
<form method="post" asp-action="Register">
    <button type="submit" asp-action="Register">REGISTER</button>
</form>

<form method="post" asp-action="Login">
    <button type="submit" asp-action="Login">LOGIN</button>
</form>