@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Maintain.NET";
}

<header id="main-header">

    <h1 id="welcome-title">Welcome to Maintain.NET</h1>
</header>

<body>
    
    <div class="text-container">
        <p> <strong>Maintain.Net helps you stay on top of routine tasks. Register or login to access our specialized tracking service</strong></p>
    <form method="post" asp-action="Register">
        <button type="submit" asp-action="Register">Register</button>
    </form>

    <form method="post" asp-action="Login">
        <button type="submit" asp-action="Login">Login</button>
    </form>
    </div>
    <div class="row-image">
        <div class="column">
            <img src="https://images.unsplash.com/photo-1487754180451-c456f719a1fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Snow" style="width:100%">
        </div>
        <div class="column">
            <img src="https://images.unsplash.com/photo-1496264093734-ffe59b144f9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Forest" style="width:100%">
        </div>
        <div class="column">
            <img src="https://images.unsplash.com/photo-1531523668299-e20047c89111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="Mountains" style="width:100%">
        </div>
    </div>
</body>