
@{
    ViewData["Title"] = "View";
}

<h1>Manage Your Task</h1>

<form>
    <select name="tasks">
        <option value="Change Oil">Change Oil</option>
        <option value="Fish Tank">Fish Tank</option>
        <option value="Water Plants">Water Plants</option>
        <option value="things">things</option>
    </select>
    <br><br>
    <input type="submit">
</form>