@model IEnumerable<Maintain.NET.Models.UserMaintenanceTask>

<h1>Manage Your Task</h1>

@foreach (var usertask in Model)
{
    <p>@usertask.MaintenanceTask.Name</p>
    <button asp-action="DeleteUserTask" asp-route="usertask.ID" type="submit">DELETE</button>
}

<form>
    <select name="tasks">
        <option value="Change Oil">Change Oil</option>
        <option value="Fish Tank">Fish Tank</option>
        <option value="Water Plants">Water Plants</option>
        <option value="things">things</option>
    </select>
    <br><br>
    <input type="submit">
</form>